---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer'
import Songcard from '../components/Songcard'
import Album from '../components/Album'
import Video from '../components/Video'
import Playlisttop from '../components/Playlisttop'
import Simplesongcard from '../components/Simplesongcard'
import axios from 'axios';

const canciones = await axios.get('https://api.institutoalfa.org/api/songs')
var current = canciones.data.songs[0] //Cancion sonando actualmente

//console.log(canciones.data.songs[0].image)



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="Main">
		
		<Navbar/>

		<div class="Container">

			<div class="Display">

				<div class="Visuals">

					<div class="Current-song">
						<Songcard song={current} client:visible/>
						<Album song={current} client:visible/>
					</div>

					<div class="Song-info">
						<Video/>
					</div>

				</div>
			</div>

			<div style="border-radius: 0px 0px 10px 10px;">
				<Playlisttop song={current}/>
				<div class="Song-list">
					{
						canciones.data.songs.map(
							song => <Simplesongcard 
							client:visible song={song} />)
					}
				</div>

			</div>
		
		</div>
		<Footer client:visible />
	</div>
</Layout>

<style>
	
	.Main {
		background-color: #02070D;
		height: 100vh;
	}

	.Container {
		display: flex;
		gap: 20px;
		justify-content: center;
	}

	.Song-list {
		background-color: #194973;
		overflow: auto;
		height: 60vh;
		border-radius: 0px 0px 10px 10px;
		scroll-behavior: smooth;
	}

	.Song-list::-webkit-scrollbar {
  		display: none;
	}

	.Visuals {
	}

	.Song-info {
		background-color: #194973;
		border-radius: 20px;
	}

	.Current-song {
		display: flex;
		gap: 10px;
		max-height: 300px;
		padding-top: 20px;
	}

</style>